.card {
  // Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; // needed because parent height collapses because of absolute positioning, card will be janky when hovered

  &__side {
    height: 52rem;
    transition: all 0.8s ease; // ease transition timing, makes smoother
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // needed because absolute positioning shrinks to content size
    backface-visibility: hidden; // needed so backface isnt visible
    border-radius: 3px;
    overflow: hidden; // used to show the border radius, card_picture will overflow and cover the border radius
    box-shadow: 0 1.5rem 4rem $shadow-light;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg); // Already rotated at start

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front Side Styling
  &__picture {
    background-size: cover; // common code put here, so don't have to repeat on each --# modifier
    height: 23rem;
    background-blend-mode: screen; // for lg/image below
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      // linear gradient over background image w/ blend
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg); // only has to move up one level because it will be compiled to .css and put in the css folder
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  // own BEM component, not a child of heading
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; // Still need this for chrome
    box-decoration-break: clone; //fixes the padding on both sides of the header text, treats as 2 elements with the same padding

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
}
