.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit; // inputs dont receive the base font and color by default
    color: inherit; // needed for input-placeholder color below
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent; // prevents input box jump on focus (see below)
    width: 90%;
    display: block; // moves label below
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:required {
      box-shadow: none; // needed to turn off red outline on Firefox when invalid
      // https://stackoverflow.com/questions/5939341/firefox-4-is-there-a-way-to-remove-the-red-border-in-a-required-form-input
    }

    &:focus {
      outline: none; // prevents blue focus border in chrome
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        // orange border with input is not valid
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    &::-moz-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem; // line up under placeholder, take care of 2rem padding in input box
    margin-top: 0.7rem;
    display: block; // make block so margins are respected
    transition: all 0.4s;
  }

  &__input:placeholder-shown + &__label {
    // :place-holder shown is when there in only placeholder in input, not valid when typing in input
    // targeting label with adjacent sibling selector
    // cant be inbedded in &__input because of the &__label so it needs to under .form
    opacity: 0;
    visibility: hidden;
    transform: translateY(
      -4rem
    ); // places label up in text box (invisible) and animates down when typing in input
  }

  // Custom Radio Buttons
  &__radio-group {
    width: 49%;
    display: inline-block; // get them side-by-side in a row

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block; // needed because span (inline) and can't do h & w
    position: absolute;
    left: 0;
    top: -0.5rem;

    &::after {
      // inner circle of radio button
      content: ""; // all pseudo-elements need content
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      background-color: $color-primary;
      border-radius: 50%;
      position: absolute; // its ok if parent is set to absolute, position just has to be set
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); // center in outer circle
      opacity: 0; // hide when not selected
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    // for radio-input that is checked, use general sibling selector (could have used adjacent sibling selecto also)
    // that will select the radio label then the radio-button is a child and select the after pseudo element
    // and show inner circle
    opacity: 1;
  }

  &__radio-input {
    display: none; // Dont use visibility hidden, because old radio button is still there just hidden and will
    // throw off alignment.  Display: none; old radio button is gone from the flow
  }
}
